<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>$$title$$</title>
		<style>
			.back {
				position: absolute;
				top: 0px;
				left: 0px;
			}
			#modalImage {
				width: 100%;
			}
		</style>
	</head>
	<body class="w3-2017-shaded-spruce">
		<div class="w3-container w3-center w3-border-bottom w3-margin-bottom w3-margin-left w3-margin-right">
			<a href="../../index.html" class="w3-padding back">
				<i class="fa fa-arrow-left w3-xxxlarge"></i>
			</a>
			<h1>$$title$$</h1>
			<p>$$description$$</p>
		</div>
		<div class="w3-row-padding">
			<div class="w3-third">
$$col_1$$
			</div>
			<div class="w3-third">
$$col_2$$
			</div>
			<div class="w3-third">
$$col_3$$
			</div>
		</div>
		<div class="w3-container w3-border-top w3-margin-top w3-margin-left w3-margin-right">
			<h1>Paints Used:</h1>
			<ul>
$$colours$$
			</ul>
		</div>

		<div id="imageModal" class="w3-modal" onclick="this.style.display='none'">
			<img class="w3-modal-content w3-block" id="modalImage">
		</div>

		<script>
			function showImage(image) {
				document.getElementById("modalImage").src = image.src;
				document.getElementById("imageModal").style.display = "block";
			}
		</script>
	</body>
</html>